@media screen and (max-width: 900px) {
  .section-skills {
    padding-top: 25rem;
  }

  .section-about-me {
    &--responsive {
      height: 100%;
      padding-top: 30rem;
    }
  }
}

@media screen and (max-width: 620px) {
  .section-skills {
    padding-top: 50rem;
  }

  .section-about-me {
    &--responsive {
      padding-top: 55rem;
    }
  }

  .skills-item--responsive {
    width: 3rem;
    height: 3rem;
    margin: 1rem;

    &__inner {
      font-size: 2rem;
      &--desc {
        font-size: 0.8rem;
      }
    }
  }
}
