.footer {
  height: 40vh;
  background-image: linear-gradient(
      105deg,
      $gradient-purple 0%,
      $gradient-purple 50%,
      $gradient-orange 50%
    ),
    url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}
.social-media__text {
  &--responsive--test {
    display: none;
  }
}
.social-media__page {
  display: flex;
  img {
    padding: 0 0.5rem 0.5rem 0;
  }
}
button {
  width: 3rem;
  color: #777;
}
