*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

@keyframes moveDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px); }
  80% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

.button-box__btn {
  background-color: #f2e3e3;
  color: #777; }
  .button-box__btn:link, .button-box__btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    padding: 0 5px;
    transition: all 0.3s; }
  .button-box__btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: white; }
  .button-box__btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .button-box__btn--git-repo {
    position: absolute;
    bottom: 0;
    right: 0; }
  .button-box__btn--git-link {
    position: absolute;
    bottom: 0;
    left: 0; }

.card {
  perspective: 60rem;
  -moz-perspective: 600rem;
  height: 20rem;
  margin: 10px;
  position: relative;
  width: 15rem; }
  .card__side {
    background-color: orange;
    height: 20rem;
    transition: all 1s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; }
    .card__side--front {
      background-color: orange;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .card__side--front h2 {
        font-weight: 300; }
      .card__side--front img {
        height: 50%;
        width: 100%;
        clip-path: polygon(0 2vh, 100% 0, 100% 14vh, 0 100%); }
      .card__side--front p {
        font-size: 0.8rem;
        text-align: center; }
    .card__side--back {
      background-color: #006060;
      transform: rotateY(180deg);
      color: wheat; }
      .card__side--back h3 {
        font-weight: 300;
        text-align: center; }
      .card__side--back ul {
        display: flex;
        justify-content: space-around;
        list-style: none; }
      .card__side--back li {
        border: 1px solid black; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }

.header__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  backface-visibility: hidden; }
  .header__text-box--main {
    letter-spacing: 0.6rem;
    font-weight: 300;
    animation: moveDown 3s ease-in-out;
    font-size: 2rem; }
  .header__text-box--sub {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
    animation: fadeIn 3s ease-in; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(237, 203, 15, 0.2), rgba(126, 49, 105, 0.3215686275)), url(../img/background.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo {
    width: 40px;
    height: 40px; }

.card-box {
  margin: 35px; }

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  position: relative; }

.section-projects__title {
  font-weight: 300;
  text-align: center;
  padding: 3rem; }

.section-skills {
  height: 50vh; }

.skills-item {
  width: 10rem;
  height: 10rem;
  border: 1px solid black; }

.footer {
  height: 40vh;
  background-image: linear-gradient(to right, rgba(126, 49, 105, 0.3215686275), rgba(237, 203, 15, 0.2)), url(../img/background.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%); }

.section-projects {
  height: 50vh; }

.section-book {
  padding: 15rem 0; }

/*# sourceMappingURL=style.css.map */
