body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  color: $body-grey;
  padding: 30px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(249, 239, 181, 0.2)),
    to(rgba(223, 199, 217, 0.3215686275))
  );
  background-image: linear-gradient(
    to right,
    rgba(249, 239, 181, 0.2),
    rgba(223, 199, 217, 0.3215686275)
  );
}

a {
  text-decoration: none;
  color: inherit;
}
